In [1]:
import pandas as pd
from pandas import DataFrame

In [11]:
df_1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
'B': ['B0', 'B1', 'B2'],
'C': ['C0', 'C1', 'C2'],
'D': ['D0', 'D1', 'D2']},
index=[0, 1, 2])

In [12]:
df_2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
'B': ['B3', 'B4', 'B5'],
'C': ['C3', 'C4', 'C5'],
'D': ['D3', 'D4', 'D5']},
index=[3, 4, 5])

In [6]:
# 위+아래
df_12_axis0 = pd.concat([df_1, df_2]) # row bind : axis = 0, default

In [7]:
df_12_axis0

    A   B   C   D
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5

In [13]:
df_3 = pd.DataFrame({'E': ['A6', 'A7', 'A8'],
'F': ['B6', 'B7', 'B8'],
'G': ['C6', 'C7', 'C8'],
'H': ['D6', 'D8', 'D8']},
index=[0, 1, 2])

In [14]:
# 왼쪽 + 오른쪽으로
df_13_axis1 = pd.concat([df_1, df_3], axis=1) # column bind
df_13_axis1

    A   B   C   D   E   F   G   H
0  A0  B0  C0  D0  A6  B6  C6  D6
1  A1  B1  C1  D1  A7  B7  C7  D8
2  A2  B2  C2  D2  A8  B8  C8  D8

In [15]:
df_4 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
'B': ['B0', 'B1', 'B2'],
'C': ['C0', 'C1', 'C2'],
'E': ['E0', 'E1', 'E2']},
index=[0, 1, 3])

In [16]:
# 합집합ㅇ
df_14_outer = pd.concat([df_1, df_4], join='outer') # union, default
df_14_outer

/Library/Python/3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    A   B   C    D    E
0  A0  B0  C0   D0  NaN
1  A1  B1  C1   D1  NaN
2  A2  B2  C2   D2  NaN
0  A0  B0  C0  NaN   E0
1  A1  B1  C1  NaN   E1
3  A2  B2  C2  NaN   E2

In [17]:
df_14_inner = pd.concat([df_1, df_4], join='inner') # intersection
df_14_inner

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
0  A0  B0  C0
1  A1  B1  C1
3  A2  B2  C2

In [18]:
# index 중복성 여부 점검
df_7 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
'B': ['B0', 'B1', 'B2'],
'C': ['C0', 'C1', 'C2'],
'D': ['D0', 'D1', 'D2']},
index=['r0', 'r1', 'r2'])

df_8 = pd.DataFrame({'A': ['A2', 'A3', 'A4'],
'B': ['B2', 'B3', 'B4'],
'C': ['C2', 'C3', 'C4'],
'D': ['D2', 'D3', 'D4']},
index=['r2', 'r3', 'r4'])

In [20]:
df_78_F_verify_integrity = pd.concat([df_7, df_8], verify_integrity=False) # default
df_78_F_verify_integrity

     A   B   C   D
r0  A0  B0  C0  D0
r1  A1  B1  C1  D1
r2  A2  B2  C2  D2
r2  A2  B2  C2  D2
r3  A3  B3  C3  D3
r4  A4  B4  C4  D4

In [21]:
df_78_F_verify_integrity = pd.concat([df_7, df_8], verify_integrity=True)

ValueError: Indexes have overlapping values: Index(['r2'], dtype='object')